article {
    background-image: url("../assets/lorempicsum1.jpg");
    background-repeat: no-repeat;
    padding: 10px;

    display: flex;
    align-items: end;
}

.product-info {
    background-color: white;
    min-width: 30px;

    border: 5px solid purple;
    border-radius: 15px;

    padding: 10px;
    margin: 10px;

    flex-grow: 1;

    font-family: sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-weight: bold;
}
h3 {
    color: #929292;
}